extends layout.pug 

block content 

    h1 All blogs

    .blogcontainer 
         


        each blog in blogs
            .blog-wrapper
                .blog-image 
                .blog-content   
                    a.blogs(href=`/allblogs/${blogs.id}`) #{note}
                    a.delete(href="#") Delete