extends layout.pug 

block content   
    h1 Create Blog 


    if error 
        p.error Title cannot be empty. Please, fulfill the Title!  

    if success 
        p.success Blog has been created successfully! 

    if deserror 
        p.error Description cannot be empty. Please, fulfill the Description 
    .form 
        form(action="/create" method='POST', enctype='multipart/form-data')
            .username 
                label Username
                input.input(type="text" name="username")  
            .heading
                label Title
                input.input(type="text" name="title")
            .describe
                label Description
                textarea.input(type="text" name="description")
            .upload
                label Upload Image
                input.image(type="file" name="image")
                
            button.btn Post 