extends layout.pug 

block content 
    h1 Create Blog 


    if error 
        p.error Some error has been occured! Try again! 

    form(action="/create" method="POST")
        .heading
            label Title
            input.input(type="text" name="title")
        .describe
            label Description
            textarea.input(type="text" name="description")
        .upload
            label Upload Image
            input.image(type="file" name="image")
            
        button.btn Post 