extends layout.pug 


block content

    .detail-container 
        h1.blog-title Some awesome note title 
        p.blog-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, sequi. Ipsa doloribus neque quibusdam sint? 