extends layout.pug 


block content

        

    .detail-container 
        h1.blog-title  #{ blog.title }

        .details 
            .detail-image
                img(src=`/static/images/${ blog.image }`, alt="")
            .detail-content
                p.blog-description  #{ blog.description }

    