extends layout.pug 

block content 

    h1 Update your Personal Blog

    .edit-conatienr 
        //- form(action="/create" method='POST')
        //-     .heading
        //-         label Title
        //-         input.input(type="text" name="title")
        //-     .describe
        //-         label Description
        //-         textarea.input(type="text" name="description")
        form(action='/update/' + blog.id, method='post')
            label(for='title') Title:
            input#title(type='text', name='title', value=blog.title)
            label(for='description') Description:
            textarea#description(name='description')= blog.description
            input(type='submit', value='Update')
            
            //- button.btn Repost 

            //- .upload
        //-     label Upload Image
        //-     input.image(type="file" name="image")