extends layout.pug 

block content 
    .container  
        h1 Web Blogs Application 
        p Express your experience and post 
        a(href="/create") Create Blog   




    footer 
            p.ending This web application was created by 00013782 to fulfill Web Technology modules requirements and does not represent an actual company or service
